@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: #d8eeff;
    position: absolute;
}


h3 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #000;
    margin: 0;
    text-transform: uppercase;
}
  
  
.petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  

.meow {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}


/* ********** ANIMATION POUR LE HERO ********** */


@keyframes blinkTextCursor {
    0% {
      border-right-color: rgba(255, 255, 255, .75);
    }
    49% {
      border-right-color: rgba(255, 255, 255, .75);
    }
    50% {
      border-right-color: transparent;
    }
    100% {
      border-right-color: transparent;
    }
}


@keyframes typing {
from { width: 0 }
to { width: 16ch }
}

.typewriter {
overflow: hidden;
border-right: .15em solid black;
white-space: nowrap;
margin: 0 auto;
letter-spacing: .15em;
animation: 
    typing 3.5s steps(16, end),
    blinkTextCursor 500ms steps(133) infinite normal;
}
  